@import url('https://fonts.googleapis.com/css2?family=Sunshiney&display=swap');

*,
::after,
::before {
  box-sizing: border-box;
}


 /* 
-_-_-_-_-_-_-_-_-
Globals
-_-_-_-_-_-_-_-_-
*/
 
 :root{
  /* primary color */
  --primary-100: hsl(356, 80%, 92%);
  --primary-200: hsl(356, 80%, 84%);
  --primary-300: hsl(356, 80%, 60%);
  --primary-400: hsl(356, 80%, 44%);
  --primary-500: hsl(355, 76%, 36%); /*ruby red #A5121C*/
  --primary-600: hsl(355, 76%, 24%);
  --primary-700: hsl(355, 76%, 16%);
  --primary-800: hsl(356, 76%, 8%);
  --primary-900: hsl(356, 80%, 4%);

  --color-2-100: hsl(23, 100%, 92%);
  --color-2-300: hsl(23, 100%, 68%);
  --color-2-500: hsl(23, 100%, 49%);
  --color-2-700:hsl(23, 100%, 40%);
  --color-2-900: hsl(23, 100%, 24%);

   --color-3-100: hsl(32, 100%, 92%);
  --color-3-300: hsl(32, 100%, 80%);
  --color-3-500: hsl(32, 100%, 69%);
  --color-3-700:hsl(32, 100%, 56%);
  --color-3-900: hsl(32, 100%, 40%);

   --color-4-100: hsl(30, 100%, 96%);
  --color-4-300: hsl(31, 100%, 92%);
  --color-4-500: hsl(32, 100%, 81%); /*FFD29D*/
  --color-4-700:hsl(30, 100%, 68%);
  --color-4-900: hsl(30, 100%, 56%);

  --color-5-100: hsl(48, 29%, 72%); 
  --color-5-300: hsl(48, 29%, 56%);
  --color-5-500: hsl(48, 29%, 44%); /*918450*/
  --color-5-700:hsl(49, 29%, 36%);
  --color-5-900: hsl(48, 30%, 24%);
  /* greys */
  --grey-100: #FFFFFF;
  --grey-200: #DCDAD6;
  --grey-300: #B9B6AC;
  --grey-400: #959183;
  --grey-500: #6E6B5E;
  --grey-600: #45433B;
  --grey-700: #1C1B17;
  --grey-800: #000000;
  /* alerts */
  --clr-red-dark:hsl(356, 80%, 52%);
  --clr-red-light:hsl(356, 80%, 70%);
  --clr-green-dark:hsl(114, 35%, 52%);
  --clr-green-light: hsl(114, 35%, 80%);
  --clr-yellow-dark:hsl(58, 94%, 52%);
  --clr-yellow-light:hsl(58, 94%, 70%);
  /* black and white */
  --clr-white: hsl(353, 80%, 96%);
  --clr-black: hsl(353, 80%, 4%);

/* transition */
   --transition: all 0.15s linear;
   /* box */
   --radius: 0.25rem;
   --accent-border: 6px  solid hsl(353, 80%, 28%);
   /* width */
   --max-width: 1210px;
  --fixed-width: 630px;
  --fluid-width: 90vw;
  /* shadows */
  --offset-shadow: 0px -2px 5px rgba(255, 255, 255, 0.319), 0 7px 6px rgba(0, 0, 0, 0.2);
  --inset-shadow: inset 0px -2px 1px rgba(255, 255, 255, 0.1), inset 0 4px 5px rgba(0, 0, 0, 0.2);
  
  /* paragraphs */
  --narrow-line-height: 1.5em;
  --wide-line-height: 2em;
  --spacing: 0.1em;
  --font-family: 'Sunshiney', cursive;
  --smallText: 1.2rem;

  
 }

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--font-family);
  background: var(--primary-100);
  color: var(--grey-500);
  line-height: 1.5;
  font-size: 18px;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  font-size: 1.25rem;
  border-radius: var(--radius);
}


h1,
h2,
h3,
h4 {
  letter-spacing: var(--spacing);
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
  font-weight: 400;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 2.1rem;
}
h4 {
  font-size: 1.5rem;
}
p {
  font-size: 1.4rem;
  margin-bottom: 1.25rem;
  color: var(--grey-700);
  max-width: 40em;
}
@media screen and (min-width: 800px) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 1.75rem;
  }
  h4 {
    font-size: 1rem;
  }
  body {
    font-size: 1rem;
  }
  h1,
  h2,
  h3,
  h4 {
    line-height: 1;
  }
}
.img {
  width: 100%;
  display: block;
}

.full-page{
  min-height: 100vh;
}

.logo{
  width: 150px;
}
.container{
  width: var(--fluid-width);
  max-width: var(--max-width);
  margin: 0 auto;
}
/* buttons */
.btn{
cursor: pointer;
  color: var(--primary-100);
  background: var(--primary-500);
  border: transparent;
  border-radius: var(--radius);
  letter-spacing: var(--spacing);
  padding: 0.23rem 0.45rem;
  box-shadow: var(--offset-shadow);
  transition: var(--transition);
  text-transform: capitalize;
  display: inline-block;
}

.btn:hover{
  background: var(--color-2-500);

}
.btn-hero{
  font-size: 1.4rem;
  padding: 0.5rem 1.20rem;
}
.btn-block{
  width: 100%;
}

/* form */

.form {
  width: 85vw;
  max-width: var(--fixed-width);
  background: var(--clr-white);
  border-radius: var(--radius);
  box-shadow: var(--offset-shadow);
  padding: 2.5rem 4rem;
  margin: 0rem auto;
  transition: var(--transition);
}

.form:hover {
  box-shadow: var(--inset-shadow);
}
.form-label {
  display: block;
  font-size: var(--smallText);
  margin-bottom: 0.3rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
.form-input,
.form-textarea,
.form-select {
  width: 100%;
  padding: 0.375rem 0.75rem;
  border-radius: var(--radius);
  background: var(--color-3-100);
  border: 1px solid var(--grey-200);
}
.form-input,
.form-select,
.btn-block {
  height: 35px;

}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
::placeholder {
  font-family: inherit;
  color: var(--grey-400);
}
.form-alert {
  color: var(--clr-red-dark);
  letter-spacing: var(--spacing);
  text-transform: capitalize;
}

/* alerts */
.alert {
  padding: 0.375rem 0.75rem;
  margin-bottom: 1rem;
  border-color: transparent;
  border-radius: var(--radius);
  text-align: center;
  letter-spacing: var(--spacing);
}

.alert-danger {
  color: var(--clr-red-dark);
  border-bottom: 5px solid var(--clr-red-dark);
  background: var(--primary-100);
}
.alert-success {
  color: var(--clr-green-dark);
   border-bottom: 5px solid var(--clr-green-dark);
  background: var(--clr-green-light);
}